<% if (post.comments ){ %>
  <div class="comments" id="comments">
    <% if  (theme.duoshuo_shortname){ %>
      <div class="ds-thread" data-thread-key="<%= page.path %>"
           data-title="<%= page.title %>" data-url="<%= page.permalink %>">
      </div>
      <% } %>
     <% if  (theme.disqus_shortname){ %>
    <section id="comments">
      <div id="disqus_thread" align="center">
        <div style="height:17px">
            <img src="/images/comment_loading.gif"/>
        </div>
      </div>
      </section>
      <% } %>
       <% if  (theme.gentie_productKey){ %>
      <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
    <% } %>
       <% if  (theme.changyan_appid && theme.changyan_appkey){ %>
            <div id="SOHUCS" sid="<%= page.path %>"> </div>
    <% } %>
      <% if (theme.youyan_uid){ %>
           <div id="uyan_frame"></div>
    <% } %>
      <% if (theme.gitment.enable){ %>
           <div id="gitment_comments"></div>
    <% } %>
  </div>
 <% } %>